<p class ="display02"><a href= "/friends" >Home</a> | | <a href="/users/clear">Logout</a></p>

<h2>Hello,<%=@user.name%><%=@user.alias%></h2>

<p>Name!<%=@user.name%></p>

<p> Email!<%=@user.email%></p>